{% extends "layout.html" %}
{% block title %}
Add book
{% endblock%}
{% block content %}

<form action="{{ url_for('add_book') }}" method="post" class="form-example">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Book's name: </label>
        <div class="form-outline w-25">
            <input type="text" class="form-control" name="name" id="name" required>
        </div>
    </div>

    {% for genre in genres %}
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id={{genre}} name={{genre}} value={{genre}}>
        <label class="form-check-label" for={{genre}}>{{genre}}</label>
    </div>
    {% endfor %}

    <div class="form-group row">
        <label for="year" class="col-sm-2 col-form-label">Book's year of publishing: </label>
        <div class="form-outline w-25">
            <input type="number" class="form-control" name="year" id="year" required>
        </div>
    </div>

    <div class="form-group">
        <label for="author_id">Book's author:</label>
        <select class="col-sm-5 form-control" name="author_id" id="author_id">
            {% for author in authors %}
            <option value={{author.id}}>{{author.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Add book</button>
    </div>

</form>

{% endblock %}
